@use 'sass:color';
@use 'sass:math';
@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

//
// Button Variables
//

$btn-pad-y: 0.5rem;
$btn-pad-x: 1rem;

$btn-sm-pad-y: 0.25rem;
$btn-sm-pad-x: 0.5rem;

//
// Button Base Theme
//

@mixin btn-theme($btn-fg: $bg, $btn-bg: $fg, $hover: $default-hover, $active: $default-active) {
  border: none;
  background-color: $btn-bg;
  color: $btn-fg;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

//
// Button with Base Theme
//

%btn-base {
  cursor: pointer;

  @include transition-color;
  @include rounded;
  @include btn-theme;
}

.btn {
  @extend %btn-base;
  font-size: $font-base;
  padding: $btn-pad-y $btn-pad-x;
}

.btn-sm {
  @extend %btn-base;
  font-size: $font-sm;
  padding: $btn-sm-pad-y $btn-sm-pad-x;
}

//
// Button Themed - Primary
//

.btn-primary {
  @include btn-theme($primary-fg, $primary-bg, $primary-hover, $primary-active);
}

//
// Button Themed - Secondary
//

.btn-secondary {
  @include btn-theme($secondary-fg, $secondary-bg, $secondary-hover, $secondary-active);
}

//
// Button Themed - Danger
//

.btn-danger {
  @include btn-theme($danger-fg, $danger-bg, $danger-hover, $danger-active);
}

//
// Form
//
%input-base {
  padding: math.div($btn-pad-y, 2);
  font-size: $font-base;
  border: 0.125rem solid $default-active;
  @include rounded;
}

.form-group {
  label {
    display: block;
    font-weight: 600;
  }

  input {
    @extend %input-base;
    color: $fg;

    &:focus {
      outline: none;
      border-color: $primary-active;
    }

    &::placeholder {
      color: #9ca3af;
    }
  }
}

//
// Text Themed - Danger
//
.text-danger {
  color: $danger-bg;
}
