@use 'functions' as *;

$primary-color: rgb(48, 19, 192);
$bg-color: rgb(213, 215, 225);
$fg-color: rgb(28, 29, 39);

// The configurable font sizes
$font-base: 1rem;
$font-scale: 1.25;

// Generate different variables depending on the font size
$font-sm: calc($font-base / $font-scale);
$font-md: $font-base;
$font-lg: calc($font-base * $font-scale);
$font-xlg: calc($font-lg * $font-scale);
$font-2xl: calc($font-xlg * $font-scale);
