@use 'sass:math';
@use 'sass:color';
@use 'functions' as *;

// Base Colors
$bg: rgb(213, 215, 225);
$bg-alt: rgb(196, 200, 214);
$fg: rgb(28, 29, 39);
$default-hover: color.scale($fg, $lightness: 10%);
$default-active: color.scale($fg, $lightness: 5%);

// Primary Colors
$primary-bg: rgb(47, 51, 165);
$primary-fg: $bg;
$primary-hover: color.scale($primary-bg, $lightness: 10%);
$primary-active: color.scale($primary-bg, $lightness: 5%);

// Secondary Colors
$secondary-bg: rgb(47, 165, 116);
$secondary-fg: $bg;
$secondary-hover: color.scale($secondary-bg, $lightness: 10%);
$secondary-active: color.scale($secondary-bg, $lightness: 5%);

// Danger Colors
$danger-bg: rgb(161, 52, 52);
$danger-fg: $bg;
$danger-hover: color.scale($danger-bg, $lightness: 10%);
$danger-active: color.scale($danger-bg, $lightness: 5%);

// Font Configurations
$font-base: 1rem;
$font-scale: 1.25;

// Different Font Sizes Based on Configuration
$font-sm: math.div($font-base, $font-scale);
$font-md: $font-base;
$font-lg: $font-base * $font-scale;
$font-xlg: $font-lg * $font-scale;
$font-2xl: $font-xlg * $font-scale;
