// Normalize CSS to be consistent across browser
// From: https://github.com/sindresorhus/modern-normalize
@import 'modern-normalize.css';
@import 'index.scss';

html {
  font-size: $font-base;
  background-color: $bg-color;
  color: $fg-color;
}
