// Normalize CSS to be consistent across browser
// From: https://github.com/sindresorhus/modern-normalize
@use 'modern-normalize.css' as *;
@use 'index.scss' as *;
@debug 'Hello World';

html {
  font-size: $font-base;
  background-color: $bg;
  color: $fg;
}
